/** --------------------------- resets --------------------------- **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  display: block;
}

/**  --------------------------- GLOBAL ---------------------------  **/

:root {
  --color-primary: #f8eee0;
  --color-accent-1: #ee71be;
  --color-accent-2: #6be2e2;
  --color-accent-3: #f0f35a;
  --color-accent-4: #383836;
  --color-accent-5: #fffefd;
  --color-accent-6: #fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body,
textarea,
select {
  font-family: "Anonymous Pro", monospace;
  background-color: var(--color-accent-6);
}

h1,
h2,
h3,
a,
button {
  font-family: "Dela Gothic One", cursive;
}

p {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

/**  --------------------------- LAYOUT ---------------------------  **/

.wrapper {
  max-width: 75rem;
  margin-inline: auto;
}

.between-sections-area {
  display: flex;
  justify-content: center;
}

/**  --------------------------- COMPONENTS ---------------------------  **/

.button,
a {
  border: none;
  background-color: var(--color-accent-5);
  color: var(--color-accent-4);
  border-radius: 2px;
  padding: 0.3rem;
}

.button:hover {
  background-color: var(--color-accent-3);
}

h3 {
  display: inline-block;
  place-content: center;
  margin-bottom: 0.5rem;
}

.header {
  background-color: var(--color-accent-4);
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 10;
  padding: 0.7rem;
  margin-bottom: 2rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto;
}

.header__nav-phone {
  display: inline-block;
}

.header__nav-bigscreen {
  display: none;
}

.header__button {
  background-color: var(--color-accent-5);
  color: var(--color-accent-4);
  border-radius: 2px;
}

.button-jump-dropdown {
  display: inline-block;
}

.button-jump-dropdown-content {
  display: none;
  position: absolute;
}

.button-jump-link {
  color: var(--color-accent-4);
  display: block;
  text-align: left;
  white-space: nowrap;
}

.button-jump-dropdown:hover .button-jump-dropdown-content {
  display: block;
}

.button-jump-dropdown:hover,
.header__button:hover,
.button-jump-link:hover {
  background-color: var(--color-accent-3);
}

@media (min-width: 44rem) {
  .header {
    opacity: 0.5;
  }
  .header:hover {
    opacity: 1;
    transition: 0.2s ease-out;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__heading {
  font-size: 2rem;
  max-width: 70%;
  margin: auto;
  background: linear-gradient(#312e2e, #6be2e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  margin-bottom: 3rem;
  text-align: center;
}

.intro-video {
  width: 90%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 2rem;
}

@keyframes button-wiggle {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  95% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.scroll-link {
  font-size: 2rem;
  animation: button-wiggle 1.5s infinite;
  display: inline-block;
  margin-bottom: 1rem;
}

.scroll-link:hover {
  color: var(--color-accent-2);
  animation: none;
}

.section__wrapper {
  margin: 0.7rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1%;
  color: white;
}

.section__wrapper-bjornes-magasin {
  background-color: rgb(92, 72, 49);
}

.section__wrapper-hjarnkontoret {
  background-color: rgb(48, 96, 92);
}

.section__wrapper-alfons-aberg {
  background-color: #a7590b;
}

.section__wrapper-lilla-aktuellt {
  background-color: #aa8b00;
}

.section__wrapper-mumin {
  background-color: rgb(106, 46, 84);
}

.section__wrapper-5-myror-ar-fler-an-5-elefanter {
  background-color: #741919;
}

.section__wrapper-skrotnisse {
  background-color: #1c344f;
}

.section__heading-weekday {
  font-size: 2rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.gallery {
  display: flex;
  overflow: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery__item {
  width: calc(100% - 4rem);
  scroll-snap-align: start;
  flex-shrink: 0;
}

footer {
  background-color: var(--color-accent-4);
}

.footer__wrapper {
  display: block;
  color: white;
  display: block;
  padding: 2rem;
}
.footer__form {
  font-size: 1rem;
}
.footer__p {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.3rem;
}
.request-type {
  width: 100%;
}
textarea {
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  padding: 0.3rem;
}

select {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.3rem;
}

@media (min-width: 43rem) {
  .intro__heading {
    font-size: 3rem;
  }
  .section__wrapper {
    margin: 0.7rem;
    margin-bottom: 2rem;
  }
  .intro-video {
    width: 75%;
  }

  .section__content-grid-container {
    display: grid;
    gap: 0.5rem;
  }

  .section__heading-titel {
    grid-column: 2/2;
    grid-row: 1/1;
    text-wrap: nowrap;
  }
  .section__heading-time {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .section__paragraph {
    grid-column: 2/3;
    grid-row: 2/2;
  }

  .section__heading-keywords {
    grid-column: 2/2;
    grid-row: 3/3;
  }
  .section__keywords {
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .section__heading-images {
    grid-column: 2/2;
    grid-row: 5/5;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/4;
    grid-row: 6/7;
  }
  .gallery__item {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
  }

  .section__heading-video {
    grid-column: 2/2;
    grid-row: 8/8;
  }
  .iframe-container {
    grid-column: 2/4;
    grid-row: 9/9;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 75rem;
    margin-inline: auto;
  }

  .footer__form {
    max-width: 40%;
  }
  .footer__p {
    max-width: 40%;
  }
}

@media (min-width: 62rem) {
  .header__nav-phone {
    display: none;
  }
  .header__nav-bigscreen {
    display: inline;
  }

  .section__content-grid-container {
    grid-template-columns: 7rem 15rem 1fr 1fr;
    grid-template-rows: 2rem 20rem 20rem 2rem 1fr;
    gap: 1rem;
  }
  .section__heading-time {
    grid-column: 1/1;
  }
  .section__heading-titel {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .section__paragraph {
    grid-column: 2/2;
    grid-row: 2/4;
  }

  .section__heading-images {
    display: none;
  }

  .gallery {
    grid-column: 3/5;
    grid-row: 2/4;
    overflow: hidden;
  }
  .gallery__item {
    height: 20rem;
  }

  .section__heading-keywords {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .section__keywords {
    grid-column: 2/4;
    grid-row: 4/4;
  }
  .section__heading-video {
    grid-column: 1/1;
    grid-row: 5/5;
  }
  .iframe-container {
    grid-column: 2/5;
    grid-row: 5/5;
  }
}
